<footer class="py-5 bg-black">
	<div class="container px-5">
		<p class="m-0 text-center text-white small">Copyright &copy; EEE Funaab 2024 <br>
			Made with love by <span class="text-success fw-bold">Godslove</span></p>
	</div>
</footer>